.hero {
    background: url('../../assets/static/hero.png');
    box-shadow: inset 0 0 0 2000px #010101a9;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .title {
    font-size: 10rem;
}

.hero .sub-heading {
    font-size: 2rem;
}

.hero .exploreBtn {
    margin-top: 3rem;
    padding: 0.5rem 0.75rem;
    background-color: #2E2E2E;
    background-position: center;
    border: 1px solid gray;
    border-radius: 0.5rem;
    color: lightgray;
    font-size: 1.1rem;
    cursor: pointer;

    transition: background-color 250ms ease-in-out;
}

.hero .exploreBtn:hover {
    background-color: #1c1c1c;
}