.leaderboard-outer-div {
    /* padding: 100px 300px; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #12141d;
}

.leaderboard-select-your-text-box{
    display: flex;
    justify-content:center;
    align-items:center;
}

.leaderboard-selection-select{
    background-color: white;
    height: 40px;
    padding:0 10px;
    border: 0;
    border-radius:10px;
    font-weight: bold;
    color: white;
    background-color:#2E2E2E;
    border: 1.5px solid #2E2E2E;
}
.leaderboard-select-box{
    display: flex;
    justify-content:space-between;
    width:70%;
    margin-bottom: 30px;
}

.leaderboard-select-your-event{
    color: white;
    padding-right:20px
}
.leaderboard-selection-select:focus{
    border: 1.5px solid white;
}

.leaderboard-div {
    background-color: #2E2E2E;
    padding: 30px;
    border-radius: 30px;
    width: 70%;

}

.leaderboard-coming-soon {
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.leaderboard-individual-box {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.leaderboard-name-div {
    display: flex;
}

.leaderboard-postition {
    margin-right: 30px;
    color: #3c5ccf;
}

.leaderboard-line {
    height: 3px;
    background-color: rgb(148, 145, 145);
}

.leaderboard-position-outer-div {
    width: 70%;
}

.leaderboard-points {
    color: #FAD02C;
}


.leaderboard-your-postion-div {
    background-color: #76C773;
    padding: 30px;
    border-radius: 30px;
}

.leader-board-your-postion {
    color: white;
    margin: 30px 0;
}

.leaderboard-individual-box-your-position {
    color: 043214;
    display: flex;
    justify-content: space-between;
    margin: 10px 30px;
}

.leaderboard-div h1 {
    color: white;
    text-align: center;
}

.leaderboard-div .loader {
    margin: 0 auto;
}
.left-box{
    display: flex;  
    justify-content: left;
    align-items: left;
}
.right-box{
    display: flex;
    justify-content:right;
    align-items: right;
}

.disclaimer{
    color: white;
}
.disclaimer-tag{
    color: red;
}

@media(max-width: 500px) {
    .leaderboard-outer-div{
        padding:50px 0;
    }
    .leaderboard-coming-soon {
        font-size: 2rem
    }
    .leaderboard-select-your-text-box{
        margin-bottom: 30px;
    }
    .leaderboard-select-box{
        flex-direction: column;
        width:80%;
    }
    .leaderboard-select-your-event{
        padding:0;
    }
    .leaderboard-div{
        padding:10px 0;
        width: 90%;
        border-radius: 10px;
    }
    .leaderboard-line{
        margin: 10px 20px;
    }
    .leaderboard-postition{
        margin-right:5px
    }
    .leaderboard-selection-select{
        width:100%;
    }
    .right-box{
        flex-direction: column;
    }
    .left-box{
        flex-direction: column;
    }
}