.Register-outer-box {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background-color:#12141D;
}

.Register-fill-form {
    font-size: 2.4rem;
    font-family: goodtimingbd;
    text-transform: uppercase;
    color: #ff715b;
}

.Register-input-boxes-div {
    width: 45%;
    text-align: center;
    margin: 40px 0px;
}

label {
    font-size: 1.5rem
}

.register-btn {
    background-color: #3a86ff;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    border: 0
}


.form-control {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    border:0;
}
.form-control:after{
    border: 0;
}

.Register-input-indi-div {
    margin: 30px;
    margin-bottom: 40px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


@media(max-width: 500px){
    .Register-outer-box{
        padding-bottom: 10px;
    }
    .Register-fill-form{
        text-align: center;
        font-size: 2rem;
        padding:0 8px
    }
    .Register-input-boxes-div{
        width:100%;
        margin-top: 10px;
    }
    label{
        font-size:1.2rem;
    }
    .form-control{
        width: 100%;
    height: 30px;
    border-radius: 20px;
    padding: 20px;
    font-size: 1rem;
    margin-top: 20px;
    border:0;
    }
    .register-btn{
        background-color: #3a86ff;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 0
    }
}