
.schedule-outer-div{
    /* padding: 100px 300px; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    
}   


.schedule-container{
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.schedule-div{
    background-color: #2E2E2E;
    padding:30px;
    border-radius: 30px;
    width: 70%;
    
}

.schedule-individual-box{
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}


.schedule-name-div{
    display: flex;
}

.schedule-postition{
    margin-right: 30px;
}
.schedule-line{
    height: 3px;
    background-color: rgb(148, 145, 145);
}