
.navbar-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 2;
    height: 50px;
    /* background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue); */
    border-radius: 0px  0px 20px 20px;
    background-color: #12141D;
    /* border: 1px solid #DEBAD6; */
    border-top: 0;
    
}

.navbar-text{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    
}

.list {
    list-style-type: none;
    /* background: linear-gradient(45deg, rgb(156, 14, 156), midnightblue); */
    background-color: #12141D;
    border: 1px solid #DEBAD6;
    border-top: 0;
    padding:30px 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 0px  0px 20px 20px;
}
.items {
    /* margin-right: 20px; */
    margin:0 3%;
    font-size: 20px;
    /* text-transform: uppercase; */
    color: #f1f1f1;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.Navbar-name{
    text-decoration: none;
    color: white;
    justify-content: center;
}
/* .Navbar-name:after{
    content:'';
    position: absolute;
    width: 10%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #E7480E;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.Navbar-name:hover:after {
    transform-origin: bottom left;
    transform: scaleX(1);
} */

.active{
    /* color:hsla(277, 64%, 61%, 0.8); */
    color:#E7480E;
}

.btn {
    display: none;
    position: absolute;
    right: 25px;
    top: 7px;
    padding: 0px;
    color: #000;
    font-size: 18px;
    background-color: #12141D;
}
.navbar-btn-img{
    height:30px;
    background-color: #12141D;
    border: 0;
}


@media screen and (max-width: 500px){
    nav{
        width: 100%;
        border: 1px solid #DEBAD6;
        border-top:0;
    }
    .list {
        flex-direction: column;
        height: auto;
        width:100%;
        height:100vh;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .items:nth-child(1){
        /* border-top: 1px solid rgba(255, 255, 255, 0.555); */
        margin-top: 30px;
    }
    .items {
        width: 100%;
        /* border-top: 1px solid rgba(255, 255, 255, 0.555); */
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
            border:0px
    }

}