.footer{
    background-color: #212529;
    color: white;
    margin:0;
    display: flex;
    flex-direction: row;
    padding: 30px 60px;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    flex-wrap: wrap;

}

.footer-first{
    width: 35%;
    text-align: left;
    padding: 20px 40px;
}
.footer-inertia{
    margin: 20px 0;
    font-family: goodtimingbd;
    font-size: 2rem;
    margin-left: 10px;
}
.footer-inertia-description{
    margin: 10px 0;
    width:80%;
    color:hsla(0, 0%, 100%, 0.5);
}
.footer-second{
    width: 50%;
}

.footer-page-link{
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 1rem;
    text-transform: uppercase;
}
.footer-page-link:hover{
    color:grey;
}

.footer-menu-heading{
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-family: goodtimingbd;
    color: #ff715b;
}

.footer-third{
    width: 29%;
    text-align: left;
}
.footer-creator-div{
    text-align: center;
    color: white;
    
}
.footer-a-link{
    color: #ff715b;
    text-decoration: none;
}
.footer-creator{
    padding:10px 0;
}
.footer-contact{
    display: flex;
    margin-bottom: 10px;
    margin: 20px 0;
    align-items: center;
}

.footer-contact-image{
    height: 30px;
    width: 30px;
    margin-right: 10px;
    /* margin:10px; */
}

.footer-social-item{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.footer-social-link{
    margin-right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.footer-inertia-image-div{
    display: flex;
    justify-content: left;
    align-items: center;
}
.footer-inertia-image{
    height: 40px;
}
.footer-draic-image{
    height: 50px
}

@media(max-width: 500px)
{
    .footer
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:50px 20px
    }
    .footer-first{
        width: 100%;
        padding: 0px;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-inertia-description{
        width: 100%;
        text-align: center;
        font-size: 18px;
    }
    .footer-second{
        width: 80%;
        margin: 20px 0px;
        text-align: center;
    }
    .footer-third{
        width: 80%;
    }
    .footer-menu-heading{
        text-align: center;
        white-space: nowrap
    }
    .footer-social-item
    {
        justify-content: center;
    }
    .footer-creator-div{
        padding:10px 20px
    }
    .footer-inertia-image-div{
        flex-direction: column;
    }
    .footer-creator{
        font-weight: 400;
    }
}