@font-face {
    font-family:goodtimingbd;
    src: url('../src/font/good\ timing\ bd.ttf');
}
* {
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

html {
    font: 10px;
    font-family: roboto, sans-serif;
}

.App {
    background-color: black;
}